<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Легендарная тройка</title>
    <link rel="shortcut icon" href="1.png" type="image/x-icon">
    <script src="https://kit.fontawesome.com/2293037ed9.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Charis+SIL:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Forum&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>

<body>


    
    <header>
        <div class="logo-text">
            <h1>Football</h1>
            <h2>Легендарная тройка</h2>
        </div>
        <div class="logo-img">
            <img src="football1920.jpg" alt="">
        </div>
    </header>
    <section class="section-header-text">
        <div class="header-text">
            <p>Єто продолжение сериала об эволюции Месси на поле и за его пределами. Тексты о молодом Лео и периоде Пепа
                Гвардиолы вышли еще в августе, а вот с финальной частью мы сильно затянули.</p>
            <p>Заключительный эпизод – о Месси после ухода Гвардиолы: дружба с Неймаром и Суаресом, успехи при Луисе
                Энрике и лучший созидательный отрезок в карьере Лео. Многие события еще свежи в памяти (например,
                история с бюрофаксом} – мы обойдемся без упоминаний ради упоминаний и посмотрим на картину с общего
                плана. Детали портрета проявит время.</p>
        </div>
    </section>
    <section class="history">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center my-5">
                    <h2>История</h2>
                </div>
            </div>
            <div class="row align-items-center mb-5">
                <div class="col-lg-6">
                    <img src="pexels-dominika-roseclay-3074920.jpg" alt="">

                </div>
                <div class="col-lg-6">
                    <p>В финале клубного чемпионата мира-2011 «Барселона» разнесла «Сантос» – 4:0. Месси оформил
                        будничный дубль, забрал очередной трофей, а после игры пересекся в коротком разговоре с
                        19-летним Неймаром. Бразильский талант, за которым уже гнались европейские топы, признался – он
                        хочет играть в «его клубе». В клубе Месси. Месси ответил лаконично: «Ты будешь счастлив». Эту
                        историю рассказывал Сандро Росель. Именно в его президентский срок Неймар стал футболистом
                        «Барселоны».</p>
                    <p>Взросление Неймара деталями напоминает долгий путь Месси. Да, бразилец оставался на родном
                        континенте, но рос скромным и тихим мальчиком. По воспоминаниям юных одноклубников,
                        трансформация Нея прошла будто по щелчку – и ведь с Месси было нечто подобное. Месси и Неймар не
                        были близко знакомы на момент трансфера бразильца. Неймар вечно подчеркивал, что Лео –
                        футбольный гений, а тот в ответ встречал новичка приятными, но все же дежурными фразами: «Он
                        принесет много пользы, может стать ключевым игроком. Силен в игре один на один. Кажется хорошим
                        парнем. Давайте вместе верить в него и в команду». Медиа реагировали противоречиво. Пожалуй,
                        наиболее емко опасения высказал Йохан Кройфф. Он видел в дуэте Месси и Неймара тень провальной
                        связки Марадоны и Шустера и любопытно говорил о Лео-диктаторе: «Когда вы претендуете на статус
                        лучшего в мире, вы должны быть чем-то вроде тирана. Давление на Месси огромно – все, кто
                        приходит на стадион, ждут виртуозную игру. Чтобы все сработало, нужен идеально выполненный план.
                        Упреки всегда касаются лидеров».</p>
                    <p>Но Неймар сходу показал, что нужен «Барселоне». Он не маскировал слабости Месси в прессинге, но
                        гениально работал с мячом, чутко понимая решения Лео. Нельзя сказать, что связка Неймара и Месси
                        ассоциируется с категориями учителя и ученика. Два прекрасных дриблера, выдающиеся индивидуалы,
                        при этом любящие командную игру. </p>
                    <p>Неймар рассказывал эту историю десятки раз. И в первые месяцы в клубе, и после выигранной ЛЧ,
                        даже когда уже ушел из клуба. Очевидно, те слова Месси очень многое значили для бразильца.
                        Может, Лео не вкладывал в них философскую глубину, но получилось так, что чувство дружбы и
                        сотрудничества возникло мгновенно. Оставим спекуляции об уходе Неймара из «Барсы» в стороне.
                        Временная дистанция не рассеивает туман, который вряд ли когда-нибудь пропадет – как минимум
                        нужно подождать, когда окружение Неймара из мема превратится в часть исторического процесса.
                    </p>
                </div>

            </div>
            <div class="row align-items-center mb-5">
                <div class="col-lg-6">
                    <p> Что уж и говорить о Луисе Суаресе – тут никакие слухи не разрушают дружбу. Любопытно, что Суарес
                        – один из немногих, кто общается с Лео не о футболе. Уже после ухода из «Барсы» Луис
                        рассказывал, как обсуждает с Месси семейную жизнь, проблемы из-за ковида. В таких беседах футбол
                        уходит на второй план. Суарес признавался: «Мы действительно хорошие друзья – не только на поле.
                        Он принял меня, когда я только перешел в клуб, и мы стали общаться. Нам есть о чем поговорить,
                        ведь мы оба из Южной Америки, еще и одного возраста»</p>
                    <p> Так получается, что человеческие отношения очень важны в профессиональной карьере Месси. В
                        лучшие времена Лео вместе с близкими друзьями выигрывал главные титулы в клубном футболе, в
                        худшие – не мог простить руководству клуба предательство с вышвыриванием Суареса. </p>
                    <p> Стоит ли разделять личную жизнь и карьеру? Месси сделал свой выбор – и вряд ли сильно жалел.
                        «Барса» ведь больше, чем просто клуб – пусть лозунг в последние годы переживал издевки, Месси
                        старательно его придерживался. </p>
                </div>
                <div class="col-lg-6">
                    <img src="soccer.jpg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="slider-foto-three ">
        <h2 class="text-center mt-5">Вот несколько фото с "Легендарной тройкой"</h2>
        <div class="long-slider">
            <div class="arrow-left">
                <p> &lsaquo;</p>
            </div>
            <div class="arrow-right">
                <p>&rsaquo;</p>
            </div>
            <div class="item-wrap">
                <div class="slider-item">
                    <div class="pdoduct-card">
                        <img src="kartinki24_ru_fc_barcelona_53.jpg" alt="">
                    </div>
                    <div class="pdoduct-card">
                        <img src="large.jpg" alt="">
                    </div>
                    <div class="pdoduct-card">
                        <img src="origin.jpg" alt="">
                    </div>
                    <div class="pdoduct-card">
                        <img src="6.jpg" alt="">
                    </div>
                    <div class="pdoduct-card">
                        <img src="555.jpg" alt="">
                    </div>
                    <div class="pdoduct-card">
                        <img src="65319253db3f101fd8a5ecc0dce554de.jpg" alt="">
                    </div>
                    <div class="pdoduct-card">
                        <img src="1.jpg" alt="">
                    </div>
                    <div class="pdoduct-card">
                        <img src="2.jpg" alt="">
                    </div>
                    <div class="pdoduct-card">
                        <img src="5.jpg" alt="">
                    </div>
                    <div class="pdoduct-card">
                        <img src="4.jpg" alt="">
                    </div>
                    <div class="pdoduct-card">
                        <img src="8.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>


    <div id="my-container">
        <div class="menu">
            <ul class="car-list">
                <li v-for="(item, index) in array" v-on:click="numberCar(index)"
                    v-bind:class="{'active-li' : selectIndex == index}">
                    {{item.name}}
                </li>
            </ul>
        </div>

        <div class="content">
            <div class="content-info">
                <div class="content-img">
                    <img v-bind:src="currentCar.image" alt="">
                </div>
                <div class="content-text">
                    <div class="content-item"><span class="bold"> Имя - </span>{{currentCar.name}} </div>
                    <div class="content-item"><span class="bold">Гражданство и Возрост - </span> {{currentCar.model}} </div>
                    <div class="content-item"><span class="bold">Клуб - </span> {{currentCar.year}} </div>
                    <div class="content-item"><span class="bold"> Рост и вес - </span>{{currentCar.color}} </div>
                    <div v-if="priceShow == true" class="content-item"><span class="bold">Титулы -
                        </span>{{currentCar.price}} 
                    </div>
                    <button class="price-btn" v-on:click=" showPrice">Титулы </button>
                    <div class="content-item"><span class="bold"> Опис </span>
                        <p>{{currentCar.about}} </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <div class="socio-link">
                        <a class="socio-link" href="">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a class="socio-link" href="">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                    </div>
                    <div class="footer-text">
                        <p>Сторінка створена Гриневич Артуром</p>
                        <p>2022</p>
                    </div>
                </div>

            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="script.js"></script>
</body>

</html>